body{
    background-image: url('images/background.jpg');
    text-align: center;
    font-family: Courier, monospace;
    color:white;
}
button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    font-family: Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    border: none;
  }
  button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
  }
  .link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    font-family: Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    border: none;
  }
  .link:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
  }

  input{
      padding: 10px;
      font-family: Courier, monospace;
  }